body {

margin: 0;
padding: 0;

font-family: Arial;

background: #0f0f0f;
color: white;

}

#auth {

display: flex;
flex-direction: column;

gap: 15px;

width: 300px;

margin: auto;
margin-top: 100px;

}

#auth input {

padding: 15px;

border: none;
border-radius: 10px;

background: #1f1f1f;
color: white;

font-size: 16px;

}

#auth button {

padding: 15px;

border: none;
border-radius: 10px;

background: #5865f2;
color: white;

font-size: 16px;

}

#app {

display: flex;

height: 100vh;

}

#sidebar {

width: 320px;

background: #161616;

padding: 15px;

overflow-y: auto;

}

#me {

display: flex;
align-items: center;

gap: 10px;

margin-bottom: 20px;

}

.avatar {

width: 60px;
height: 60px;

border-radius: 50%;

object-fit: cover;

}

.smallAvatar {

width: 45px;
height: 45px;

border-radius: 50%;

object-fit: cover;

}

.status {

font-size: 13px;
opacity: 0.7;

}

.tabs {

display: flex;

gap: 10px;

margin-bottom: 20px;

}

.tabs button {

flex: 1;

padding: 10px;

border: none;
border-radius: 10px;

background: #262626;
color: white;

}

.friend,
.searchUser,
.request {

display: flex;
align-items: center;

justify-content: space-between;

gap: 10px;

background: #202020;

padding: 10px;

border-radius: 12px;

margin-bottom: 10px;

}

.friend:hover,
.searchUser:hover {

background: #2c2c2c;

cursor: pointer;

}

.request button,
.searchUser button {

padding: 8px 12px;

border: none;
border-radius: 8px;

background: #5865f2;
color: white;

}

#searchInput {

width: 100%;

padding: 12px;

border: none;
border-radius: 10px;

background: #1f1f1f;
color: white;

margin-bottom: 15px;

box-sizing: border-box;

}

#chatSection {

flex: 1;

display: flex;
flex-direction: column;

background: #111;

}

#chatTop {

padding: 20px;

background: #1a1a1a;

font-size: 20px;

}

#chat {

flex: 1;

padding: 20px;

overflow-y: auto;

}

.message {

background: #232323;

padding: 12px;

border-radius: 12px;

margin-bottom: 10px;

max-width: 300px;

}

#bottom {

display: flex;

padding: 15px;

background: #1a1a1a;

gap: 10px;

}

#messageInput {

flex: 1;

padding: 15px;

border: none;
border-radius: 10px;

background: #202020;
color: white;

}

#sendBtn {

padding: 15px 25px;

border: none;
border-radius: 10px;

background: #5865f2;
color: white;

}
