body{

margin:0;
font-family:Arial;
background:#0f0f0f;
color:white;

}

#auth{

display:flex;
flex-direction:column;

gap:15px;

padding:40px;

margin-top:100px;

}

input{

padding:15px;
border:none;
border-radius:10px;
font-size:18px;

}

button{

padding:15px;
border:none;
border-radius:10px;
font-size:18px;

background:#5865f2;
color:white;

}

#app{

display:flex;
height:100vh;

}

#sidebar{

width:30%;
background:#181818;

padding:10px;

overflow-y:auto;

}

.user{

display:flex;
align-items:center;

gap:10px;

background:#222;

padding:10px;

margin-bottom:10px;

border-radius:10px;

}

.avatar{

width:50px;
height:50px;
border-radius:50%;

object-fit:cover;

}

#chatSection{

flex:1;

display:flex;
flex-direction:column;

}

#chatTop{

background:#1f1f1f;
padding:20px;
font-size:22px;

}

#chat{

flex:1;
overflow-y:auto;

padding:10px;

}

.message{

background:#222;

padding:10px;

margin:10px;

border-radius:10px;

}

#bottom{

display:flex;

padding:10px;

background:#1f1f1f;

}

#messageInput{

flex:1;

}
